<%inherit file="../base.html"/>
<%block name="content">
## <div class="king-content-wrap">
##     <div class="king-layout1-content" style="margin-left: 216px;">
##         <div class="panel panel-default mb0">
##             <div class="panel-heading"> 多门店上新菜单 </div>
##             <div class="panel-body">
##                     <div>
##                         <label class="control-label col-sm-2 pt0" for="introduction">门店ID：</label>
##                         <div class="col-sm-10">
##                             <textarea class="form-control" rows="3" placeholder="提示信息" id="store_code_id"></textarea>
##                         </div>
##                     </div>
##                     <div>
##                         <label class="col-sm-2 control-label bk-lh30 pt0">菜单版本：</label>
##                         <div class="col-sm-10">
##                             <select name="" id="menu_version_select" class="form-control bk-valign-top">
##                             </select>
##                         </div>
##                     </div>
##                     <div >
##                         <div class="col-sm-10 col-sm-offset-2">
##                             <button type="button" class="king-btn mr10  king-success" id="new_menu_btn">提交</button>
##                             <button type="button" class="king-btn king-default ">取消</button>
##                         </div>
##                     </div>
##             </div>
##         </div>
##     </div>
## </div>
</%block>
