<%inherit file="../base.html"/>
<%block name="content">
    <div class="king-content-wrap">
        <div class="king-layout1-content" style="margin-left: 216px;">
            <div class="king-tab tab-box ">
                <ul id="myTab2" class="nav nav-tabs king-nav-tabs1 king-tab-info">
                    <li class="active"> <a id="query_result" data-toggle="tab" href="#demo1" aria-expanded="true">查询结果</a> </li>
                    <li class=""> <a id="nv_oper_history" data-toggle="tab" href="#nv_oper_history_tab" aria-expanded="false">操作历史</a> </li>
##                     <li class=""> <a data-toggle="tab" href="#demo2" aria-expanded="false" onclick="get_menu_version_success()">发版成功</a> </li>
##                     <li class=""> <a data-toggle="tab" href="#demo3" aria-expanded="false" onclick="get_menu_version_fail()">发版失败</a> </li>
                    <li class=""> <a data-toggle="tab" href="#instruction" aria-expanded="false">使用说明</a> </li>
                </ul>
                <div class="tab-content ">
                    ##【查询结果】标签页start
                    <div class="tab-pane fade active in" id="demo1" style="">
                        <div class="panel panel-default mb0">
                            <div class="panel-heading">
                                <button type="button" class="king-btn mr10 king-success" id="query_by_id">查询</button>
                                <button type="button" class="king-btn mr10 king-success" id="nv_recheck">重新检查</button>
                                <button type="button" class="king-btn mr10 king-success" id="newversion">发版</button>

                            </div>
                            <div class="panel-body">
                                <div class="king-block-content">
                                  <table id="tb_nv_check_rst" class="table table-bordered table-striped">
                                    <thead>
                                      <tr>
                                        <th>门店名称</th>
                                        <th>门店编码</th>
                                        <th>dbf数据入库</th>
                                        <th>餐行键</th>
                                        <th>CXJ_STORE_CODE</th>
                                        <th>emap账号和外送</th>
                                        <th>操作</th>
                                        <th>菜单版本</th>
                                      </tr>
                                    </thead>
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    ##【查询结果】标签页end
##                     发版操作历史记录
                    <div class="tab-pane fade" id="nv_oper_history_tab" style="">
                          <div class="king-block king-block-bordered">
                            <div class="king-block-header king-gray-light">
                                <h3 class="king-block-title">综合示例</h3>
                            </div>
                            <div class="king-block-content">
                              <table id="new_version_oper_history" class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>门店名称</th>
                                    <th>门店编码</th>
                                    <th>操作时间</th>
                                    <th>菜单版本</th>
                                    <th>操作用户</th>
                                    <th>操作类型</th>
                                  </tr>
                                </thead>
                              </table>
                            </div>
                          </div>
                    </div>
##                     未发版标签页
                    <div class="tab-pane fade" id="demo3" style="">
                        <div class="king-block king-block-bordered">
                            <div class="king-block-header king-gray-light">
                                <button class="king-btn mr10 king-success" id="recheck">重新检查</button>
                            </div>
                            <div class="king-block-content">
                              <table id="new_version_fail_table" class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>门店ID</th>
                                    <th>门店名称</th>
                                    <th>操作时间</th>
                                    <th>菜单版本</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                              </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="instruction" style="">
                        <div class="king-block king-block-bordered">
                            <div class="king-block-header king-gray-light">
                                <h3 class="king-block-title">使用说明</h3>
                            </div>
                            <div class="king-block-content">
                                <div class="king-instruction king-instruction-info">
                                    <h5>使用说明</h5>
                                    <p>1、您可以在【查询结果】页中，填入门店ID。点击提交后，可以查询到门店名称以及检查项的检查结果。</p>
                                    <p>2、保证所有门店的所有检查项都通过后，点击【发版】按钮。会提出“发版成功”</p>
                                    <p>3、如果有检查项不通过的门店，解决相应问题后，点击【重新检查】按钮。只有所有门店检查项都通过后，才能点击【发版】</p>
                                    <p>4、可以在【操作历史】页面找到操作记录。</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- content end -->
        <script src="${STATIC_URL}js/new_version.js"></script>
    <script>
##         发版操作前的检查结果显示start
        function render_check_result (store_id_array) {
            var language = {
              search: '搜索：',
              lengthMenu: "每页显示 _MENU_ 记录",
              zeroRecords: "没找到相应的数据！",
              info: "分页 _PAGE_ / _PAGES_",
              infoEmpty: "暂无数据！",
              infoFiltered: "(从 _MAX_ 条数据中搜索)",
              paginate: {
                first: '首页',
                last: '尾页',
                previous: '上一页',
                next: '下一页',
              }
            }
            $("#tb_nv_check_rst").dataTable({
                destroy: true,
                autoWidth: false,
                lengthChange: true, //不允许用户改变表格每页显示的记录数
                pageLength : 20, //每页显示几条数据
                lengthMenu: [5, 10, 20], //每页显示选项
                pagingType: 'full_numbers',
                ajax : {
                    "url":'${SITE_URL}get_store_check_result/?store_ids=' + store_id_array,
                },
                ##  data: rtdata,
                ordering: true,
                columns : [
                  {data:"name",orderable: false},
                  {data:"id"},
                  {data:"check1"},
                  {data:"check2"},
                  {data:"check3"},
                  {data:"check4"},
                  {
                    data:null,
                    orderable:false,
                    render : function(data, type, row, meta){
                        return '<a class="king-btn king-default del">删除</a>';
                    }
                  },
                  {
                    data:null,
                    orderable:false,
                    render : function(data, type, row, meta){
                        return '<select id="' + data.id + '" class="menu_version_select"></select>';
                    }
                  }
                ],
                language:language,
                initComplete: function () {
                    append_menu_version_name()
                },

            });

            var t = $("#tb_nv_check_rst").DataTable();//获取datatables对象
            //删除按钮绑定事件
            $("#tb_nv_check_rst tbody").on('click', 'a.del', function(){
                var row = t.row( $(this).parents('tr') ),//获取按钮所在的行
                  data = row.data();
                if(confirm('确定要删除'+data.name+' ?')){
                   row.remove().draw();
                   ##  store_id_array.splice($.inArray(data.id,store_id_array),1)
                }

            });
            $('#newversion').unbind('click')
            $('#newversion').click(function () {
                ## 获取每个门店对应的菜单版本
                var table = $('#tb_nv_check_rst').DataTable();
                var t_data_array = table.data().toArray();
                ## 判断是否全部通过，如果通过可以继续执行，不通过，给出提示
                if(nv_utils.all_check_ok(t_data_array)){
                    ##  alert('check ok!')
                    ## 表格t_data_array添加menu_versio
                    for(var index in t_data_array){
                        var id = t_data_array[index].id
                        menu_version_id = $('#' + id + " option:selected").val()
                        t_data_array[index].menu_version_id = menu_version_id
                    }
                     $.get(site_url + "new_menu", {data: JSON.stringify(t_data_array)}, function (res) {
                         new_version_ret(res)
                     })
                }else{
                    myutils.errorAlert("没有通过检查项！！！")
                }
                ##  selectid = $('.menu_version_select option:selected').val()
                ##  for(var index in list){
                ##      menu_version_id = $('#' + list[index]['columnName1'] + " option:selected").val()
                ##      list[index]['menu_version_id']=menu_version_id
                ##  }

            })
        };
        //发版操作前的检查结果显示end



##         获取菜单版本名称
        function append_menu_version_name() {
            $.get(site_url + 'get_menu_version', {}, function (res) {
             for (var key in res.data){
                 $('.menu_version_select').append("<option value=" + key + ">" + res.data[key] + "</option>")
             }
            })
        }


##         用于处理【发版】的按钮的返回结果
        function new_version_ret(res) {
            dstore = res.duplicated_store
            success_store = res.success_store
            fail_store = res.fail_store
            showstr = ""
            ##  if(JSON.stringify(dstore) != "{}"){
            ##      showstr = "以下门店重复发版：</br>"
            ##      for (var key in dstore){
            ##          showstr += key + ":" + dstore[key] + "</br>"
            ##      }
            ##      showstr += "</br>"
            ##  }
            ##
            ##  if(JSON.stringify(success_store) != "{}"){
            ##      showstr += "以下门店发版成功：</br>"
            ##      for (var key in success_store){
            ##          showstr += key + ":" + success_store[key] +"</br>"
            ##      }
            ##      showstr += "</br>"
            ##
            ##  }
            ##
            ##  if(JSON.stringify(fail_store) != "{}"){
            ##      showstr += "以下门店发版失败：</br>"
            ##      for (var key in fail_store){
            ##          showstr += key + ":" + fail_store[key] +"</br>"
            ##      }
            ##  }
            if(res.code==0){
                myutils.successAlert("发版结果","发版成功")
            }
        }
         ## 【查询】按钮点击事件
         $('#query_by_id').click(function _storecheck () {
            content_html = "    <div class=\"king-page-box\">\n" +
                "        <div class=\"king-container clearfix\">\n" +
                "            <form class=\"form-horizontal\">\n" +
                "                <div class=\"form-group has-feedback clearfix \">\n" +
                "                    <label class=\"control-label col-sm-2 pt0\" for=\"introduction\">门店ID：</label>\n" +
                "                    <div class=\"col-sm-10\">\n" +
                "                        <textarea id=\"store_ids\" class=\"form-control\" rows=\"6\" placeholder=\"填入以逗号分隔的6位数字\"></textarea>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </form>\n" +
                "        </div>\n" +
                "    </div>"
            var d = dialog({
            width: 600,
            title: '填入门店ID',
            cancel: function (){},
            ok: function() {
                var store_id_array = $('#store_ids').val().split(',')
                if(store_id_array == ""){
                    myutils.errorAlert("门店ID不能为空")
                    return
                }else if(!myutils.isArrayItemNo(store_id_array)){
                    myutils.errorAlert("非正常门店ID，门店ID必须是1个或多个6位数字，并且以英文逗号分隔。")
                    return
                }
                get_tbl_data(store_id_array)

            },
            okValue: '检查',
            content: content_html,
            cancelValue: '取消',
            cancel: function() {

            }
            });
            d.showModal();
        })

        function get_tbl_data(store_id_array) {
            render_check_result(store_id_array)
            ## 重新检查
            $('#nv_recheck').unbind('click')
            $('#nv_recheck').click(function () {
                var t1 = $('#tb_nv_check_rst').DataTable()
                t1_data = t1.data()
                re_check_store_ids = []
                for(var index=0; index < t1_data.length; index++){
                    re_check_store_ids.push(t1_data[index].id)
                }
                t1.ajax.url('${SITE_URL}get_store_check_result/?store_ids=' + re_check_store_ids).load(function (res) {
                    append_menu_version_name()
                })
            })
        }
            ##  $.ajax({
            ##      url: site_url + 'get_store_check_result/',
            ##      data: {data: store_id_array},
            ##      type: 'POST',
            ##      success: function(res){
            ##          t_data = render_check_result(store_id_array)
            ##          $.get(site_url + 'get_menu_version', {}, function (res) {
            ##              for (var key in res.data){
            ##                  $('.menu_version_select').append("<option value=" + key + ">" + res.data[key] + "</option>")
            ##              }
            ##          })
            ##          ## 重新检查
            ##          re_check_store_ids = []
            ##          for(var index=0; index < t_data.length; index++){
            ##              re_check_store_ids.push(t_data[index].id)
            ##          }
            ##          $('#nv_recheck').unbind('click')
            ##          $('#nv_recheck').click(function () {
            ##              $.post(site_url + 'get_store_check_result/', {data: re_check_store_ids}, function (res) {
            ##                  var table = $('tb_nv_check_rst').DataTable({
            ##                      data: res.data
            ##                  });
            ##                  table.data.reload()
            ##              })
            ##          })
            ##
            ##
            ##          ## 发版操作

            ##
            ##      }
            ##  });
    </script>

##     发版操作历史记录 start
    <script type="text/javascript">
        $('#nv_oper_history').click(function () {
            var language = {
              search: '搜索：',
              lengthMenu: "每页显示 _MENU_ 记录",
              zeroRecords: "没找到相应的数据！",
              info: "分页 _PAGE_ / _PAGES_",
              infoEmpty: "暂无数据！",
              infoFiltered: "(从 _MAX_ 条数据中搜索)",
              paginate: {
                first: '首页',
                last: '尾页',
                previous: '上一页',
                next: '下一页',
              }
            }
            $("#new_version_oper_history").dataTable({
                destroy: true,
                autoWidth: false,
                lengthChange: true, //不允许用户改变表格每页显示的记录数
                pageLength : 20, //每页显示几条数据
                lengthMenu: [5, 10, 20], //每页显示选项
                pagingType: 'full_numbers',
                ajax : site_url + 'get_new_version_log',
                ordering: true,
                columns : [
                  {data:"name",orderable: false},
                  {data:"id"},
                  {data:"create_time"},
                  {data:"menu_version"},
                  {data:"oper_user"},
                  {data:"oper_type"},
                ],
                language:language
            });

            var t = $("#new_version_success_table").DataTable();//获取datatables对象
            //删除按钮绑定事件
            $("#new_version_success_table tbody").on('click', 'a.del', function(){
                var row = t.row( $(this).parents('tr') ),//获取按钮所在的行
                  data = row.data();
                if(confirm('确定要删除'+data.name+' ?')){
                  row.remove().draw();
                }

            });
        })
      ##   发版操作历史记录 end
      ##  未发版成功标签页start
      function get_menu_version_fail() {
        var language = {
          search: '搜索：',
          lengthMenu: "每页显示 _MENU_ 记录",
          zeroRecords: "没找到相应的数据！",
          info: "分页 _PAGE_ / _PAGES_",
          infoEmpty: "暂无数据！",
          infoFiltered: "(从 _MAX_ 条数据中搜索)",
          paginate: {
            first: '首页',
            last: '尾页',
            previous: '上一页',
            next: '下一页',
          }
        }
        $("#new_version_fail_table").dataTable({
            destroy: true,
            autoWidth: false,
            lengthChange: true, //不允许用户改变表格每页显示的记录数
            pageLength : 5, //每页显示几条数据
            lengthMenu: [5, 10, 20], //每页显示选项
            pagingType: 'full_numbers',
            ajax : site_url + 'get_new_version_fail',
            ordering: true,
            columns : [
              {data:"storeid",orderable: false},
              {data:"storename"},
              {data:"create_time"},
              {data:"menu_version"},
              {
                data:null,
                orderable:false,
                render : function(data, type, row, meta){
                    return '<a class="king-btn king-default del">删除</a>';
                }
              }
            ],
            language:language
        });

        var t = $("#new_version_fail_table").DataTable();//获取datatables对象
         $('#new_version_fail_table tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
         });
        //删除按钮绑定事件
        $("#new_version_fail_table tbody").on('click', 'a.del', function(){
            var row = t.row( $(this).parents('tr') ),//获取按钮所在的行
              data = row.data();
            if(confirm('确定要删除'+data.name+' ?')){
              row.remove().draw();
            }

        });

        $('#recheck').unbind('click')
         $('#recheck').click(function () {
             ##  alert( t.rows('.selected').data().length +' row(s) selected' );
##              切换到【检查结果】页
             $('#query_result').tab('show')
             ## 获取选择的门店ID
             store_data = t.rows('.selected').data()
             recheck_store_id_array = []
             for( var i=0; i< store_data.length; i++){
                 recheck_store_id_array.push(store_data[i].storeid)
             }
             ## 删除这些门店ID的记录
             $.get(site_url + "del_new_version_log", {data: recheck_store_id_array}, function (res) {

             })
             function renderTpl(str, cfg) {
                var re = /(#(.+?)#)/g;

                return str.replace(re, function() {
                    var val = cfg[arguments[2]]+'';
                    if(typeof val == 'undefined') {
                        val = '';
                    }
                    return val;
                });
            }

             $.ajax({
                url: site_url + 'check_storeids',
                data: {data: recheck_store_id_array},
                type: 'GET',
                success: function(res){
                    var _html = ' ';
                    var list = res.items;
                    var tpl = $('#tpl_1527301039797').html();
                    var headerTpl =  $('#header_tpl_1527301039797').html();
                    for (var i=0,len=list.length; i < len; i++){
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    ## 填入内容
                    $('#code_1527301039797 tbody').html(_html);
                    ## 填入头部
                    $('#code_1527301039797 thead').html(renderTpl(headerTpl,res.catalogues));
                    $.get(site_url + 'get_menu_version', {}, function (res) {
                        for (var key in res.data){
                            $('.menu_version_select').append("<option value=" + key + ">" + res.data[key] + "</option>")
                        }
                    })
                    ## 发版操作
                    $('#newversion').unbind('click')
                    $('#newversion').click(function () {
                        ## 获取每个门店对应的菜单版本
                        selectid = $('.menu_version_select option:selected').val()
                        for(var index in list){
                            menu_version_id = $('#' + list[index]['columnName1'] + " option:selected").val()
                            list[index]['menu_version_id']=menu_version_id
                        }
                        $.get(site_url + "new_menu", {data: JSON.stringify(list)}, function (res) {
                            new_version_ret(res)
                        })
                    })

                }
             });
         });
      };
      //##  未发版成功标签页end
    </script>

</%block>
